# Server Config
PORT=8000
HOST=127.0.0.1

# MySQL XAMPP Config
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=esports_tournament
DB_USER=root
DB_PASSWORD=

# Security Config (Dùng để sign JWT sau này)
JWT_SECRET=super_secret_tournament_key_change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440